{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="{% static 'js/password_matching.js' %}" type="text/javascript"></script>
    <title>Merchant Password Change Page</title>
</head>
<body>
{% include 'common/header.html' %}

<form action="{% url 'password_check' %}" method="post">    {% csrf_token %}
    <table align="center" border="0" cellpadding="10">
        <tr style="text-align: center; font-size: 23px;color: blue;height: 70px"><th colspan="2"> Merchent Password Change </th></tr>
        <tr>
            <td style="font-weight: bolder">Username/Email : </td>
            <td><input type="email" required name="m_email"></td>
        </tr>
        <tr>
            <td style="font-weight: bolder">Old Password : </td>
            <td><input type="password" required name="m_old_password"></td>
        </tr>
        <tr>
            <td style="font-weight: bolder">New Password : </td>
            <td><input type="password" required name="password1" id="password1" onkeyup="check()"></td>
        </tr>
        <tr>
            <td style="font-weight: bolder">Re-Enter Password : </td>
            <td><input type="password" required name="password2" id="password2" onkeyup="check()"><span id="message" ></span></td>
        </tr>
        <tr style="text-align: center"><th colspan="2"> <button type="submit" class="btn btn-success"> Reset Password </button> </th></tr>
    </table>
</form>
{% for x in messages %}
    <h3 style="text-align: center;color: red">{{ x }}</h3>
{% endfor %}
</body>
</html>