{% load staticfiles %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <table align="center">
      <tr>
          <td><img src="{% static 'images/rj.jpg' %}" height="100" width="100"></td>
          <td style="font-size: 70px; font-family: 'AR DECODE';font-weight: bolder;color: brown"> Online Shopping </td>
      </tr>
      <tr>
          <th colspan="2" style="font-size: larger"><marquee> Customer Portal </marquee></th>
      </tr>
  </table><hr>
</body>
